#itemListContainer {
    min-height: 100vh;
    width: 100%;
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;

}