//FONTS
$fontRoboto: "Roboto", sans-serif;
$fontBebas: "Bebas Neue", sans-serif;
$fontSummer: "Corinthia", cursive;

//COLORES

$orange: #f36900;
$violet: #440099;
$red: #be0000;
$pink: #D30098;

$fontWhite: #fafafa;
$fontGrey: #1d1d1d;