//FONTS
$fontRoboto: "Roboto", sans-serif;
$fontBebas: "Bebas Neue", sans-serif;
$fontSummer: "Corinthia", cursive;

//COLORES

$orange: #f36900;
$violet: #2F327D;
$red: #be0000;

$fontWhite: #fafafa;
$fontGrey: #1d1d1d;