@use '../vars' as vars;

#itemDetail {
    display: grid;
    padding: 0px 40px;
    grid-template-columns: 10% 45% 45%;
    grid-template-rows: auto;
    background-color: #eeeeee;
    min-height: 100vh;
    align-items: center;
    #imagesSelector {
        display: flex;
        flex-direction: column;
        img {
            height: 30%;
            cursor: pointer;
        }
    }
    #itemDetailText {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 70px;
        padding-right: 40px;
    }
    #itemDetailImage {
        position: relative;
        width: 100%;
        min-height: 90vh;
        overflow: hidden;
        cursor: none;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform .7s ease-in-out, opacity 0.3s ease-in-out;
            padding: 20px;
            &:hover {
                transform: scale(2.5);
            }
        }
    }
    h3, h2, li, h4 {
        color: vars.$fontGrey;
        list-style-type: none;
    }
    h2 {
        font-size: 50px;
        font-weight: 500;
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
    }
    h4 {
        font-size: 24px;
        font-weight: 500;
    }
    li {
        font-weight: 600;
    }
    button {
        background-color: #F36900;
        width: 100%;
        padding: 15px 0px;
        font-family: vars.$fontRoboto;
    }
    #ratingContainer {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        img {
            width: 30px;
        }

    }
}

.fade-in {
    opacity: 1;
  }
  
.fade-out {
opacity: 0;
}

@media (max-width: 768px){
    #itemDetail {
        grid-template-columns: repeat(2, 1fr);
        #imagesSelector {
            position: absolute;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            margin-top: 40px;
            width: 44vw;
            height: 120px;
            order: 2;
            img {
                height: 100%;
            }
        }
        #itemDetailImage {
            min-height: 60vh;
            img {
                padding: 0;
            }
        }
        h2 {
            font-size: 35px;
        }
        h3 {
            font-size: 15px;
        }
        h4 {
            font-size: 20px;
        }
        li {
            font-size: 14px;
        }
        
        #itemDetailText {
            gap: 10px;
            padding: 20px;
        }
        button {
            width: 100%;
            height: 40px;
            padding: 0;
        }
    }
}

@media (max-width: 425px) {
    #itemDetail {
        display: flex;
        flex-direction: column;
        padding: 20px;
        
        #imagesSelector {
            width: 100%;
            height: 100px;
            margin: 0;
            align-self: center;
            justify-self: flex-end;
            img {
                width: 30%;
                object-fit: contain;
            }
        }
        
        #itemDetailImage {
            min-height: 400px;
            margin-top: 100px;
            img {
                padding: 0;
            }
        }
    }
}